
.page-unit{
   height: 100%;
    width: 100%;
    position: relative;
}
/* page1 */
.page-1{
    height: 100%;
    width: 100%;
    position: relative;
}

.page-1 .center-logo{
    width: 21.5rem;
    position: absolute;
    left: 4.5rem;
    top: 5rem;
}


.page-1 .process-bg{
    width: 21.5rem;
    position: absolute;
    left: 4.5rem;
    top: 30rem;
}

.page-1 .process-line-boundary{
     width: 21.5rem;
     position: absolute;
     left: 4.5rem;
     top: 30rem;
 }

 .page-1 .process-line-relative{
     width: 0%;
     position: relative;
    margin-left: 0rem;
    margin-top: 0rem;
    overflow-x: hidden;
 }

.page-1 .process-line{
    width: 21.5rem;
    margin-left: 0rem;
    margin-top: 0rem;

}

.page-1 .process-text{
     width: 21.5rem;
     position: absolute;
     left: 4.5rem;
     top: 31rem;
     font-size: 2rem;
     line-height: 3rem;
     color: #786f69;
 }

 .page-1 .loading-text{
      width: 21.5rem;
      position: absolute;
      left: 4.5rem;
      top: 37rem;
      font-size: 2rem;
      line-height: 3rem;
      color: #786f69;
  }

/* page2 */

  .page-2{
      height: 100%;
      width: 100%;
      position: relative;
  }

  .page-2 .baby-init{
      width: 100%;
      position: absolute;
      left: 0rem;
      top: 3rem;
  }

  .page-2 .button-start{
    width: 17.5rem;
    position: absolute;
    left: 6.5rem;
    top: 48.7rem;
  }


/* page3 */
.page-3{
  height: 100%;
  width: 100%;
  position: relative;

}

.rule-alert .layui-layer-content{
   background-color: transparent;
}
body .rule-alert {
    background-color: transparent;
    box-shadow: none;
}

/*
.page-3 .rule-alert{
  width: 27.5rem;
  position: absolute;
  left: 1.5rem;
  top: 10rem;
}
*/

.page-3 .rule-alert{
  width: 100%;
  position: absolute;
  left: 0rem;
  top: 0rem;
}

.close-bound{
  width: 100%;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
/*
.page-3 .btn-close{
    width: 5.5rem;
    position: absolute;
    left: 12.5rem;
    top: 31.5rem;
}
*/
.page-3 .btn-close{
    width: 5.5rem;
    margin-top: 21.7rem;
    margin-left: 10.7rem;
}



.page-3 .success-alert{
  width: 100%;
  position: absolute;
  left: 0rem;
  top: 0rem;
}

.correct-bound{
  width: 100%;
  position: absolute;
  left: 0rem;
  top: 0rem;
}

.page-3 .btn-correct{
    width: 5.5rem;
    margin-top: 16rem;
    margin-left: 10.7rem;
}


/* page4 */
.page-4 .top-bar{
  width: 30.5rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}

.page-4 .number-selected-1{
    width: 1.7rem;
    position: absolute;
    left: 5.2rem;
    top: 2.7rem;
}

.page-4 .number-selected-2{
    width: 1.7rem;
    position: absolute;
    left: 6.7rem;
    top: 2.7rem;
}

.page-4 .number-split{
    width: 1.7rem;
    position: absolute;
    left: 8rem;
    top: 2.7rem;
}

.page-4 .number-total-1{
     width: 1.7rem;
     position: absolute;
     left: 9rem;
     top: 2.7rem;
}
.page-4 .number-total-2{
     width: 1.7rem;
     position: absolute;
     left: 10.5rem;
     top: 2.7rem;
}

.page-4 .second-1{
     width: 1.7rem;
     position: absolute;
     left: 19.7rem;
     top: 2.7rem;
}
.page-4 .second-2{
     width: 1.7rem;
     position: absolute;
     left: 21.2rem;
     top: 2.7rem;
}

.page-4 .selected-area{
     width: 100%;
     position: static;
     margin-top: 8rem;

}

.page-4 .v-cell{
     width: 100%;
     position: static;
     height: 10rem;

}

.page-4 .h-cell{
     width: 4rem;
     display: inline-block;
     width: 9rem;

}

.page-4 .h-left-cell{



}

.page-4 .h-middle-cell{



}

.page-4 .h-right-cell{



}

.page-4 .cell-btn{
     width: 100%;
     position: static;

}


/* page5 */
.page-5 .title-lv{
  width: 16.5rem;
  position: absolute;
  left: 7rem;
  top: 2rem;

}

.page-5 .crown{
  width: 12.5rem;
  position: absolute;
  left: 9rem;
  top: 6.5rem;

}
.page-5 .ribbon{
    width: 28.5rem;
    position: absolute;
    left: 1rem;
    top: 10rem;

}

.page-5 .star{
    width: 14.5rem;
    position: absolute;
    left: 8rem;
    top: 10.5rem;
}

.page-5 .head{
    width: 15.5rem;
    position: absolute;
    left: 7.5rem;
    top: 15rem;
}
.page-5 .btn-area{
    width: 100%;
    top: 33.5rem;
    position: absolute;
    left: 0rem;

}
.page-5 .btn-share{
    width: 11.5rem;
    display: inline-block;

}

.page-5 .btn-again{
    width: 11.5rem;
    display: inline-block;
    margin-left: 1.2rem;
}

.page-5 .split-line{
    width: 28.5rem;
    position: absolute;
    left: 1rem;
    top: 41rem;
}

.page-5 .qr-code{
    width: 10.5rem;
    position: absolute;
    left: 3rem;
    top: 43rem;
}

.page-5 .qr-code-text{
    width: 16rem;
    position: absolute;
    left: 14rem;
    top: 46rem;
    color: #0d548e;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    line-height: 2rem;
}





/* page6 */
.page-6 .title-lv{
  width: 16.5rem;
  position: absolute;
  left: 7rem;
  top: 2rem;

}

.page-6 .crown{
  width: 12.5rem;
  position: absolute;
  left: 9rem;
  top: 6.5rem;

}
.page-6 .ribbon{
    width: 28.5rem;
    position: absolute;
    left: 1rem;
    top: 10rem;

}

.page-6 .star{
    width: 14.5rem;
    position: absolute;
    left: 8rem;
    top: 10.5rem;
}

.page-6 .gift-box{
    width: 18.5rem;
    position: absolute;
    left: 6rem;
    top: 15.5rem;
}

.page-6 .text-name-phone{
    width: 9rem;
     position: absolute;
     left: 3rem;
     top: 29.5rem;
}

.page-6 .text-field-bound{
    width: 28.5rem;
    position: absolute;
    height: 3rem;

}

.page-6 .phone-bound{
     left: 1rem;
     top: 31.5rem;
}


.page-6 .text-name-real{
    width: 9rem;
     position: absolute;
     left: 3rem;
     top: 36.5rem;
}

.page-6 .real-bound{
     left: 1rem;
     top: 38.5rem;
}

.page-6 .text-name-department{
    width: 9rem;
     position: absolute;
     left: 3rem;
     top: 43.5rem;
}

.page-6 .department-bound{
     left: 1rem;
     top: 45.5rem;
}

.page-6 .button-submit{
    width: 11.5rem;
    position: absolute;
    left: 9.5rem;
    top: 51.7rem;
}

.page-6 .c-input{
    border-color: #a5c9e4;
    border-width: 0.2rem;
    border-radius: 1rem;
    color: #839ba5;
    background-color: #FFFFFF;
    font-size: 1.5rem;
    padding-left: 1.2rem;
}

body .layui-layer-hui .layui-layer-content{
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
}






